<div class="container page-container secondary-page">
  <h1>I focus on designing for best user experiences &#x2692</h1>
  <div class="row work-row">
    <% @works.each do |work| %>
      <a href="<%= work['link'] %>" target="_blank">
        <div class="col-md-4 col-sm-6">
          <div class="work-item">
            <div class="wi-header">
              <%= image_tag work['logo'] %>
              <%= work['title'] %>
            </div>
            <div class="wi-body">
              <%= work['description'] %>
            </div>

            <div class="wi-tools">
              <% work['tools'].each do |tool| %>
                <%= image_tag tool %>
              <% end %>
            </div>
          </div>
        </div>
      </a>
    <% end %>
    </div>
</div>
