<!DOCTYPE html>
<html>
  <head>
    <title>Suraj Poddar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
  </head>

  <body>
    <div class="nav">
      <div class="navbar-header">
        <%= image_tag "logo.svg" %>
      </div>
      <ul class="navbar-menu">
        <li><%= link_to "Skills", "/skills" %></li>
        <li><%= link_to "Development", "/development" %></li>
        <li><%= link_to "Design", "/design" %></li>
        <li><%= link_to "Photos", "/photos" %></li>
        <li><%= link_to "Contact Me", "/contact" %></li>
      </ul>
    </div>
    <%= yield %>
    <footer>
      <ul>
        <li><%= link_to "Home", "/" %></li>
        <li><%= link_to "Skills", "/skills" %></li>
        <li><%= link_to "Development", "/development" %></li>
        <li><%= link_to "Design", "/design" %></li>
        <li><%= link_to "Photos", "/photos" %></li>
        <li><%= link_to "Contact Me", "/contact" %></li>
      </ul>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
  </body>
</html>
