<!DOCTYPE html>
<html>
  <head>
    <title>Suraj Poddar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="nav">
      <div class="navbar-header">
        <%= image_tag "logo.svg" %>
      </div>
      <ul class="navbar-menu">
        <li><%= link_to "Skills", "/skills" %></li>
        <li>Development</li>
        <li>Design</li>
        <li><%= link_to "Photos", "/photos" %></li>
        <li><%= link_to "Contact Me", "/contact" %></li>
      </ul>
    </div>
    <%= yield %>
    <footer>
      <ul>
        <li><%= link_to "Home", "/" %></li>
        <li><%= link_to "Skills", "/skills" %></li>
        <li>Development</li>
        <li>Design</li>
        <li><%= link_to "Photos", "/photos" %></li>
        <li><%= link_to "Contact Me", "/contact" %></li>
      </ul>
    </footer>
  </body>
</html>
